.topcontainer{
    
    background-color: #E4F9F5;
}
body{
    margin: 0px;
}
h1{
    margin: 0;
}
p{
font-family: 'Dancing Script', cursive;
font-size: 20px;
}
.container1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position:relative;
}
    
.containermiddle{
    height: 200px;
    width: 200px;
    background-color: rgb(78, 78, 138);
    position: absolute;
    left: 200px;
}
.containerbottom{
    height: 200px;
    width: 200px;
    background-color: rgb(138, 97, 177);
    position:absolute;
    top: 912px;
    left: 400;
}

